<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/savedata" method="POST">
        <label for="ID">ID</label>
        <input name="ID" id="ID" required><br><br>
    
        <label for="username">Username</label>
        <input name="username" id="username" required><br><br>
    
        <label for="GPA">GPA</label>
        <input name="GPA" id="GPA" required><br><br>
    
        <label for="Link_Image">Link_Image</label>
        <input name="Link_Image" id="Link_Image" required><br><br>
    
        <input type="submit" value="Save">
    
    </form>
    <a href="/students">link</a>
</body>
</html>